* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 90vh;
    width: 90vw;
    
}

main {
    margin:0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    margin-bottom: 2rem;
}

h2 {
    border-bottom: 3px solid black;
}

h4 {
    border-bottom: 2px solid black;
    width: fit-content;
    padding-right: 3rem;
    margin-bottom: .5rem;
}

li {
    border-bottom: 1px solid black;
    width: fit-content;
}

.margin {
    margin: 2rem 0;
}

.devChallenges {
    margin-top: 1rem;
}