* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FAFAF9;
}

h3 {
    color: #20293A;
    font-family: 'Sora';
    font-size: 1.125rem;
}

.card {
    max-width: 21rem;
    flex-direction: column;
    flex: 4;
    background: #fff;
    border-radius: .75rem;
    box-shadow: 5px 5px 10px #E5EAF0;
}

.card img {
    width: 100%;
    border-radius: .75rem;
    display: block;
    margin: 1rem auto;
}

.card-content {
    display: block;
    margin: 0 auto;
    width: 90%;
}

.card-content p {
    margin: 1rem auto;
    color: #6C727F;
    font-family: 'Sora';
    font-size: 0.875rem;
}

.author {
    bottom: 1rem;
    padding: 1rem;
    width:100%;
    display: block;
    border-top: 2px solid #E5EAF0;
    font-family: 'Sora';
    font-size: 0.75rem;
}

#purple-label {
    display: block;
    background-color: #E6D6FC;
    color: #883AE1;
    width: fit-content;
    margin: 1rem 0;
    padding: .25rem 1rem;
    border-radius: 20px;
}